# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# SQLite (local database)
# -------------------------
crm.db

# -------------------------
# Jekyll / GitHub Pages
# -------------------------
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db


*.log
.env