/* dark green page background */
body {
  background-color: #0f2a1d;
}

/* content area white w/ border */
.markdown-body {
  background-color: #ffffff;
  border: 3px solid #000;
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 6px;
}

/* KEEP HEADINGS! */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: #0f2a1d;
}