---
---

@import "minima";

body { background: #0b3a1e; } //green sides

.site-header .wrapper,
.page-content .wrapper,
.site-footer .wrapper { background: #fff; } //keep white center

.page-heading,
.post-title,
.post-header h1 { display: none !important; } //remove theme titles

//remove ugly dividing lines
.site-header {
  border-bottom: none;
  box-shadow: none;
}


.site-footer {
  border-top: none;
}