---
---

@import "minima";

body { background: #0b3a1e; } // green sides

.wrapper { background: #fff; } // white center column

.page-heading,
.post-title,
.post-header { display: none !important; } // remove theme titles